/IF200_IntroduccionProgra/nbproject/private/
/IF200_IntroduccionProgra/build/
/IF200_IntroduccionProgra/dist/
/Lab3_C03259/nbproject/private/
/Lab3_C03259/build/
/TrabajoNoEvaluado/nbproject/private/
/PracticaExamen1/nbproject/private/
/Lab_Arreglos_Practica/nbproject/private/
/Lab_Arreglos_Practica/build/
/Lab5_Tablero_C03259/nbproject/private/
/Lab5_Tablero_C03259/build/
